.youtube-videos-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 0 1rem;
}

.youtube-video-figure {
  margin: 0;
}

.youtube-video-image {
  width: 100%;
  cursor: pointer;
}

.youtube-video-image + figcaption {
  padding-bottom: 2.2rem;
  text-align: left;
  font-weight: 600;
  color: inherit;
}

@media only screen and (min-width: 600px) {
  /* For tablets and desktops: */
  .youtube-video-image + figcaption {
    padding-bottom: 2.5rem;
  }
}
